@charset "UTF-8";
/*标题*/
#header {
	color: white;
	text-align: center;
	padding: 2px;
	font-size: 15px;
	font-weight: 500;
	font-family: "楷体";
}

.scaleimg {
	background-size: 100%;
}

/*邮箱图标*/
.emailico {
	background-image:
		url(http://chuantu.biz/t6/308/1526009104x1822611431.png);
	background-size: 25px 25px;
	background-position: 5px 4px;
	background-repeat: no-repeat;
	padding: 8px 10px 8px 40px;
	border: 1px solid #ddd;
	margin: 15px;
	widows: 220px;
}

/*密码框图标*/
.pwdico {
	background-image:
		url(http://chuantu.biz/t6/308/1525971529x-1404781204.png);
	background-size: 25px 25px;
	background-position: 5px 4px;
	background-repeat: no-repeat;
	padding: 8px 10px 8px 40px;
	border: 1px solid #ddd;
	margin: 15px;
	widows: 220px;
}

/*验证码框*/
.userico {
	width: 200px;
	height: 15px;
	padding: 8px 1px 8px 1px;
	border: 1px solid #ddd;
	margin: 5px 0px 5px 5px;
	vertical-align: bottom;
}
/*验证码*/
.checkcode {
	width: 100px;
	height: 35px;
	margin: 5px 5px 5px -5px;
	vertical-align: bottom;
}
/*提交图标*/
.subico {
	border:none;
	background: #800080;
	border-radius: 0px;
	width: 100px;
	height: 40px;
	font-size: 25px;
	font-weight: 30;
	color:#ffffff;
	font-family: "楷体";
	margin: 15px;
}

/*返回键*/
.right {
	width: 0;
	height: 0;
	border-right: 2em solid #AA0000;
	border-bottom: 1em solid transparent;
	border-top: 1em solid transparent;
	background: transparent;
}

/*图层*/
.middle {
	position: relative;
	left: 38%;
	top: 80px;
	width: 350px;
	height: 400px;
	opacity: 0.7;
	padding: 12px;
	border-radius: 20px;
	background-color: black;
	text-align: center;
}

/*设置提醒字体大小*/
.fontSet {
	font: 5;
	color: red;
}